In [1]:
print("Jupyter Notebook 실행 테스트 성공")

Jupyter Notebook 실행 테스트 성공

In [1]:
import pandas as pd

# 샘플 데이터 생성
data = {"종목": ["삼성전자", "SK하이닉스", "네이버"],
        "현재가": [70000, 120000, 250000]}
df = pd.DataFrame(data)

# 데이터 출력
df

       종목     현재가
0    삼성전자   70000
1  SK하이닉스  120000
2     네이버  250000